#parse("/templates/master.vm")
#@master()
<form method="post" action="$WebPath.getADMIN_POST()">
<label for="password" class="form_label">New Password</label><br><input class="search_input" type="password" id="password" name="password"/><br>
<label for="confirm_password" class="form_label">Confirm Password</label><br><input class="search_input" type="password" id="confirm_password" name="confirm_password"/><br>
<input type="hidden" name="mode" value="change_password" />
<input type="submit" class="submit_button" value="Confirm Change" />
</form>
#end