#parse("/templates/master.vm")
#@master()
<form method="post" action="$WebPath.getADMIN_POST()">
<label for="password" class="form_label">New Password</label><input class="form_input" type="password" id="password" name="password"/>
<label for="confirm_password" class="form_label">Confirm Password</label><input class="form_input" type="password" id="confirm_password" name="confirm_password"/>
</form>
#end