#* @implicitly included *#
#* @vtlvariable name="contact" type="net.tullco.addressbook.contact.Contact" *#
#* @vtlvariable name="contacts" type="java.lang.Iterable<net.tullco.addressbook.contact.Contact>" *#