<div class="details_container_div">
  <span class="contact_text">Current Address</span>
  <div class="contact_address_div">
    <span class="address_text">$street<br>
    #if ("$!apartment" != "")
      $apartment<br>
    #end
    $city, $state $zipCode<br>
    $country</span>
    <form action="" method="post">
      <input type="hidden" name="mode" value="$mode" />
      <input type="hidden" name="address_id" value="$address_id" />
      <input type="submit" class="submit_button" />
    </form>
  </div>
</div>