#parse("/templates/master.vm")
#@master()
<div class="form_container_div">
	<form method="post" action="$WebPath.getADDRESS_POST()">
	<label for="street" class="form_label">Street</label><br>
	<input class="form_input" value="$street_default" name="street" id="street" /><br>
	<label for="apartment" class="form_label">Apartment</label><br>
	<input class="form_input" value="$apartment_default" name="apartment" id="apartment" /><br>
	<label for="city" class="form_label">City</label><br>
	<input class="form_input" value="$city_default" name="city" id="city" /><br>
	<label for="state" class="form_label">State</label><br>
	<input class="form_input" value="$state_default" name="state" id="state" /><br>
	<label for = "zip_code" class="form_label">Zip Code</label><br>
	<input class="form_input" value="$zip_default" name="zip_code" id="zip_code" /><br>
	<label for = "country" class="form_label">Country</label><br>
	<select class="form_input" name="country">
	#foreach ($locale in $locales)
		<option value="$locale[0]" #if($locale[0]==$country)selected="selected"#end>$locale[1]</option>
	#end
	</select><br>
	<label class="form_label">Current Address?</label>
	<div class="form_checkbox">	
	<input type="checkbox" value="1" id="active" name="active" #if ($active) checked #end />
	<label for="active"></label>
	</div>
	<input type="hidden" value="$contact_id" name="contact_id" />
	#if ($mode == "edit")
		<input type="hidden" value="$address_id" name="address_id" />
	#end
	<input type="hidden" value="$mode" name="mode" />
	<div class="submit_button_div"><input type="submit" class="submit_button" value="Save" /></div></form>
	#if ($mode == "edit")
		<div class="submit_button_div">
			<form action="$WebPath.getADDRESS_POST()" method="post">
				<input type="hidden" value="delete" name="mode" />
				<input type="hidden" value="$contact_id" name="contact_id" />
				<input type="hidden" value="$address_id" name="address_id" />
				<input type="submit" value="Delete" class="submit_button" />
			</form>
		</div>
	#end
</div>
#end