body{
  background-color: #EFEFEF;
}

h1{
  color: #005031;
  margin-bottom: 10px;
}
.header_link:link,.header_link:visited{
    text-decoration: none;
}
.header_link:hover,.header_link:active{
	text-decoration: underline;
}

hr{
  color: #005031;
}
.master_header{
	font-size: 3em;
	margin: auto;
}
.header_user_container_div{
	float:right;
	margin: 15px 50px 20px 30px;
    text-align: right;
}
.tiny_text{
  color: #005031;
  font-size: 0.9em;
}
.contact_container_div,.details_container_div,.form_container_div,.login_container_div,.phone_form_container_div,.contact_form_container_div{
   float: left;
   margin: 10px;
   padding: 10px;
   width: 250px;
   height: 125px;
   border: 1px solid #005031;
   background: white;
}
.contact_form_container_div{
	height: 475px;
}
.phone_form_container_div{
	height: 425px;
}
.login_container_div{
	height: 225px;
}
.details_container_div:hover{
  background: #DDDDDD;
}
.details_container_div{
	width: 275px;
	height: 150px;
}
.form_container_div{
	width: 350px;
	height: 625px;
}
.form_label,.tiny_label{
	color: #005031;
	font-size: 1.5em;
}
.tiny_label{
	font-size: 0.8em;
	margin-right: 5px;
	margin-left: 5px;
}
input[type=checkbox] {
	visibility: hidden;
}
/* SLIDE THREE */
.form_checkbox {
	width: 80px;
	height: 26px;
	background: #333;
	margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}
.form_checkbox:after {
	content: 'NO';
	font: 12px/26px Arial, sans-serif;
	color: #bf0000;
	position: absolute;
	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.form_checkbox:before {
	content: 'YES';
	font: 12px/26px Arial, sans-serif;
	color: #00bf00;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.form_checkbox label {
	display: block;
	width: 34px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.form_checkbox input[type=checkbox]:checked + label {
	left: 43px;
}
.form_input,.tiny_input,.search_input{
	font-size: 1.1em;
	padding: 10px;
	width: 90%;
	margin-left: 5%;
	margin-right:5%;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.search_input{
	width: 250px;
	margin-left: 0;
	margin-right: 10px;
}
.tiny_input{
	font-size: 0.8em;
	width: 20%;
	margin-left: 0;
	margin-right: 0;
	-webkit-appearance: none;
	padding: 5px
}
.submit_button_div{
	float:left;
	margin-left:10%;
	margin-right:10%;
}
.submit_button{
	border-radius: 5px;
	margin-left: 10%;
	margin-top: 10px;
	padding: 5px;
	font-size: 1.1em
}
.contact_container_div:hover{
  background: #DDDDDD;
}
.contact_picture_div{
  width: 180px:
  margin: auto;
  height: 200;
}
.contact_address_div{
	margin-left: 20px;
}
.contact_picture{
  width: 100%;
  height: 100%;
}
.contact_text,.address_text{
  font-size: 1.4em;
  font-weight: bold;
  color: #005031;
}
.address_text,.phone_text{
  font-weight: bold;
  font-size: 1.1em;
  color: #005031;
 }
.header_button {
  background: #EFEFEF;
  background-image: -webkit-linear-gradient(top, #EFEFEF, #DDDDDD);
  background-image: -moz-linear-gradient(top, #EFEFEF, #DDDDDD);
  background-image: -ms-linear-gradient(top, #EFEFEF, #DDDDDD);
  background-image: -o-linear-gradient(top, #EFEFEF, #DDDDDD);
  background-image: linear-gradient(to bottom, #EFEFEF, #DDDDDD);
  -webkit-border-radius: 27;
  -moz-border-radius: 27;
  border-radius: 27px;
  -webkit-box-shadow: 0px 1px 9px #666666;
  -moz-box-shadow: 0px 1px 9px #666666;
  box-shadow: 0px 1px 9px #666666;
  font-family: Arial;
  color: #005031;
  font-size: 25px;
  margin-right: 30px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
}

.header_button:hover {
  background: #c4cbcf;
  background-image: -webkit-linear-gradient(top, #c4cbcf, #cbfade);
  background-image: -moz-linear-gradient(top, #c4cbcf, #cbfade);
  background-image: -ms-linear-gradient(top, #c4cbcf, #cbfade);
  background-image: -o-linear-gradient(top, #c4cbcf, #cbfade);
  background-image: linear-gradient(to bottom, #c4cbcf, #cbfade);
  text-decoration: none;
}

.header_button_container_div {
  margin: 15px 0 20px 30px;
}