#macro(master)
<html>
<head>
  <title>$title</title>
  <link rel="stylesheet" type="text/css" href="$WebPath.getSTYLESHEET()">
  <link rel="shortcut icon" href="http://tullco.net/img/favicon.ico" />
</head>
<body>
#if($current_user)
<div class="header_user_container_div">
	<span class="contact_text">Welcome, $display_utils_class.capitalize($current_user.getUsername())</span><br>
	<span class="tiny_text">[<a href="$WebPath.getLOGOUT()">Logout</a>][<a href="$WebPath.getCHANGE_PASSWORD()">Change Password</a>]</span>
</div>
#end
<header>
	#if ($header_link) <a href="$header_link" class="header_link"> #end
 	<h1 class="master_header">$main_header</h1>
	#if ($header_link) </a>#end
</header>
#if ($contact_id && !$add_shared_search)
	<div class="header_button_container_div">
	<a href="$WebPath.getAddAddress($contact_id)" class="header_button">Add Address</a>
	<a href="$WebPath.getAddSharedAddress($contact_id)" class="header_button">Add Shared Address</a>
	<a href="$WebPath.getAddPhoneNumber($contact_id)" class="header_button">Add Phone Number</a>
	<a href="$WebPath.getContactEdit($contact_id)" class="header_button">Edit Contact</a>
	</div>
#end
#if ($add_contact)
	<div class="header_button_container_div">
		<form method="post" action="$WebPath.getSEARCH_POST()">
			<input class="search_input" name="search" id="search" />
			<input type="submit" class="header_button" value="Search" />
		<a href="$WebPath.getADD_CONTACT()" class="header_button">Add Contact</a>
		</form>
	</div>
#end
#if ($add_shared_search)
	<div class="header_button_container_div">
		<form method="get" action="$WebPath.getAddSharedAddress($contact_id)">
			<input class="search_input" name="search" id="search" value="$search" />
			<input type="submit" class="header_button" value="Search" />
		</form>
	</div>
#end
<hr>
<main>
  $!bodyContent
</main>
</body>
</html>
#end