#macro(master)
<html>
<head>
  <title>$title</title>
  <link rel="stylesheet" type="text/css" href="$WebPath.getSTYLESHEET()">
</head>
<body>
<header>
  <h1 class="master_header">$main_header</h1>
</header>
<hr>
<main>
  $!bodyContent
</main>
</body>
</html>
#end