#parse("/templates/master.vm")
#@master()
<div class="login_container_div">
	<form method="post" action="$WebPath.getLOGIN_POST()">

	<label for="username" class="form_label">Username</label><br>
	<input class="form_input" name="username" id="username" /><br>

	<label for="password" class="form_label">Password</label><br>
	<input type="password" class="form_input" name="password" id="password" /><br>

	<div class="submit_button_div"><input type="submit" class="submit_button" value="Login" /></div></form>
</div>
#end