#parse("/templates/master.vm")
#@master()
<div class="details_container_div">
	<span class="contact_text">Current Address</span>
  <div class="contact_address_div">
    <span class="address_text">$contact.currentAddress().street()<br>
    #if ("$contact.currentAddress().apartment()" != "")
      $contact.currentAddress().apartment()<br>
    #end
    $contact.currentAddress().city(), $contact.currentAddress().state() $contact.currentAddress().zipCode()<br>
    $contact.currentAddress().country()</span>
  </div>
</div>
<div class="details_container_div">
  #if ($contact.hasPreferredPhoneNumbers())
  <span class="contact_text">Preferred Phone Numbers</span>    
  <div class="contact_address_div">
  #foreach ($pn in $contact.getPreferredPhoneNumbers())
    <span class="phone_text">
      $display_utils_class.capitalize($pn.type): $pn.number()
    </span>
  #end
  </div>
  #end
</div>
#end
