#parse("/templates/master.vm")
#@master()
#if ($contact.hasAddress())
<a href="$WebPath.getEDIT_ADDRESS()$contact.currentAddress().id()/">
<div class="details_container_div">
  <span class="contact_text">Current Address</span>
  <div class="contact_address_div">
    <span class="address_text">$contact.currentAddress().street()<br>
    #if ("$!contact.currentAddress().apartment()" != "")
      $contact.currentAddress().apartment()<br>
    #end
    $contact.currentAddress().city(), $contact.currentAddress().state() $contact.currentAddress().zipCode()<br>
    $contact.currentAddress().country()</span>
  </div>
</div>
</a>
#end
#if ($contact.hasPreferredPhoneNumbers())
<div class="details_container_div">
  <span class="contact_text">Preferred Phone Numbers</span>    
  <div class="contact_address_div">
  #foreach ($pn in $contact.getPreferredPhoneNumbers())
    <a href="$WebPath.getEDIT_PHONE_NUMBER()$pn.getId()">
    <span class="phone_text">
      $display_utils_class.capitalize($pn.getType()): $pn.getNumber() ($display_utils_class.fullCapitalize($pn.getLocale()))
    </span></a><br>
  #end
  </div>
</div>
#end
#foreach($address in $contact.addresses())
  #if ($address != $contact.currentAddress())
	<a href="$WebPath.getEDIT_ADDRESS()$address.id()/">
    <div class="details_container_div">
      <span class="contact_text">Previous Address</span>
      <div class="contact_address_div">
	     <span class="address_text">$address.street()<br>
	    #if ("$!address.apartment()" != "")
	      $address.apartment()<br>
	    #end
	    $address.city(), $address.state() $address.zipCode()<br>
	    $address.country()</span>
      </div>
    </div>
    </a>
  #end
#end
<div class="details_container_div">
	<span class="contact_text">Other Phone Numbers</span> 
	#foreach($number in $contact.phoneNumbers())
		#if ($number.isPreferred()==false)
		<a href="$WebPath.getEDIT_PHONE_NUMBER()$number.getId()">
		<span class="phone_text">
			$display_utils_class.capitalize($number.getType()): $number.getNumber() ($display_utils_class.fullCapitalize($number.getLocale()))
		</span></a><br>
		#end
	#end
</div>
<a href="$WebPath.getADD_ADDRESS()$contact.getId()/">
<div class="details_container_div">
<span class="contact_text">Add New Address</span>
</div></a>
<a href="$WebPath.getADD_PHONE_NUMBER()$contact.getId()/">
<div class="details_container_div">
<span class="contact_text">Add New Phone Number</span>
</div></a>
#end
