#parse("/templates/master.vm")
#@master()
#if ($contact.email() || $contact.birthdate())
<div class="details_container_div">
	<span class="contact_text">Details</span>
	<div class="contact_address_div">
		<span class="phone_text">
		#if($contact.email())Email: $contact.email()<br>#end
		#if($contact.birthdate())Birthdate: $contact.birthdate_formatted()#end
		</span>
	</div>
</div>
#end
#if ($contact.hasAddress())

<div class="details_container_div">
  <a href="$contact.currentAddress().getEditURL()"><span class="contact_text">Current Address</span></a>
  <div class="contact_address_div">
    <span class="address_text">
    #if($contact.currentAddress().street())$contact.currentAddress().street()<br>#end
    #if ("$!contact.currentAddress().apartment()" != "")
      $contact.currentAddress().apartment()<br>
    #end
    #if ($contact.currentAddress().city())$contact.currentAddress().city(), #end
    #if ($contact.currentAddress().state())$contact.currentAddress().state() #end
	#if ($contact.currentAddress().zipCode())$contact.currentAddress().zipCode()<br>#end
    $contact.currentAddress().country()<br />
    <a href="$contact.currentAddress().getGoogleMapsLink()">Google Maps</a></span>
  </div>
</div>
#end
#if ($contact.hasPreferredPhoneNumbers())
<div class="details_container_div">
  <span class="contact_text">Preferred Phone Numbers</span>    
  <div class="contact_address_div">
  #foreach ($pn in $contact.getPreferredPhoneNumbers())
    <a href="$WebPath.getEditPhoneNumber($pn.getId())">
    <span class="phone_text">
      $display_utils_class.capitalize($pn.getType()): $pn.getNumber() ($display_utils_class.fullCapitalize($pn.getLocale()))
    </span></a><br>
  #end
  </div>
</div>
#end
#foreach($address in $contact.addresses())
  #if ($address != $contact.currentAddress())
	<a href="$address.getEditURL()">
    <div class="details_container_div">
    <span class="contact_text">Previous Address</span><br>
    <div class="contact_address_div">
    <span class="address_text">
	    #if($address.street())$address.street()<br>#end
	    #if ("$!address.apartment()" != "")
	      $address.apartment()<br>
	    #end
	    #if ($address.city())$address.city(), #end
	    #if ($address.state())$address.state() #end
		#if ($address.zipCode())$address.zipCode()<br>#end
	    $address.country()</span>
      </div>
    </div>
    </a>
  #end
#end
#if($contact.phoneNumbers().size() > $contact.getPreferredPhoneNumbers().size())
	<div class="details_container_div">
	<span class="contact_text">Other Phone Numbers</span><br>
	<div class="contact_address_div">
	#foreach($number in $contact.phoneNumbers())
		#if ($number.isPreferred()==false)
		<a href="$WebPath.getEditPhoneNumber($number.getId())">
		<span class="phone_text">
			$display_utils_class.capitalize($number.getType()): $number.getNumber() ($display_utils_class.fullCapitalize($number.getLocale()))
		</span></a><br>
		#end
	#end
	</div>
</div>
#end
#foreach($relation in $contact.getRelatedContacts())
<a href="$WebPath.getONE_CONTACT()$relation.getId()/">
	<div class="details_container_div">
	  <span class="contact_text">Shares an Address With:<br>$relation.fullName()</span>
	</div>
</a>
#end
#if($contact.getVCardPath())
<a href="$contact.getVCardPath()">
	<div class="details_container_div">
	  <span class="contact_text">Download VCard</span>
	</div>
</a>
#end
#end
