#parse("/templates/master.vm")
#@master()

	#foreach($contact in $contacts) 
    <a href="$WebPath.getONE_CONTACT()$contact.getId()/">
    <div class="contact_container_div">
      <!--<div class="contact_picture_div">
        <a href="$WebPath.getONE_CONTACT()$contact.getId()/">
          <img class="contact_picture" src="$WebPath.getIMAGE_DIRECTORY()$contact.getImageLocation()">
        </a>
      </div>-->
      <div class="contact_name_div">
		    <span class="contact_text">$contact.fullName()</span>
      </div>
      #if ($contact.hasAddress())                                      
        <div class="contact_address_div">
          <span class="address_text">
          #if ($contact.currentAddress().street())$contact.currentAddress().street()#end <br>
          #if ("$!contact.currentAddress().apartment()" != "")
            $contact.currentAddress().apartment()<br>
          #end
          #if($contact.currentAddress().city())$contact.currentAddress().city(), #end
          #if($contact.currentAddress().state())$contact.currentAddress().state() #end
          #if($contact.currentAddress().zipCode())$contact.currentAddress().zipCode()#end<br>
          $contact.currentAddress().country()</span>
        </div>
      #end
    </div>
    </a>   
	#end
#end