#parse("/templates/master.vm")
#@master()
	#foreach($contact in $contacts) 
    <div class="contact_container_div">
      <!--<div class="contact_picture_div">
        <a href="$WebPath.getONE_CONTACT()$contact.getId()/">
          <img class="contact_picture" src="$WebPath.getIMAGE_DIRECTORY()$contact.getImageLocation()">
        </a>
      </div>-->
      <div class="contact_name_div">
		    <span class="contact_text">$contact.fullName()</span>
      </div>
    </div>   
	#end
#end